@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 10px;
}

.header h1 {
    flex: 1;
}
.header button{
    align-self: center;
    margin-left: auto;
    /* margin-right: 5px; */
    background-color: rgb(55, 245, 8);
    padding: 0px 8px;
    border-radius: 5px;
    border: none;
}

.header button:hover{
    background-color: rgb(6, 207, 6);
}

.header button:active{
    background-color: darkgreen;
}

.cardArea{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 250px);
    padding: 25px;

}

.card{
    background-color: lightgray;
    padding: 5px;
    transition: box-shadow .3s, margin .3s;
}
.card:hover{
    margin-top: -2px;
    box-shadow: 0px 10px 10px gray;
    transition: box-shadow .3s, margin .3s;
}

.card h3{
    font-size: 1.2rem;
}

.card h4{
    font-size: 1rem;
}

.card p {
    font-size: .8rem;
}

.popUp{
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.hidden{
    visibility: hidden;
}
.addBookForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 5px 0px;
    gap: 5px;
    height: 300px;
    width: 500px;    
}

.addBookForm button{
    background-color: greenyellow;
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
}

.addBookForm input{
    border: 1px solid darkgray;
    margin-left: auto;
}

.addBookForm label{
    width: 400px;
    display: flex;
    justify-content: left;
}

.readItCheck{
    margin-right: auto;
}

.removeBtn, .readBtn, .otherReadBtn{
    width: 100%;
    border-radius: 5px;
    border: none;
}

.removeBtn{
    background-color: rgb(243, 141, 141);
}

.readBtn{
    background-color: rgb(90, 194, 90);
}

.otherReadBtn {
    background-color: rgb(253, 109, 109);

}